body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

.header {
  position: fixed;
  width: 100%;
  min-height: 13%;
  background-color: #6f6af7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Delius Unicase", cursive;
  font-size: 3rem;
  font-weight: 700;
  color: white;
  margin: 0 0 0 2%;
}

.tabs {
  width: 40%;
  font-family: "DM Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-bar {
  width: 18rem;
  padding: 0.7rem 0 0.7rem 0;
  border-radius: 3.9375rem;
  border: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  padding-left: 1.5rem;
  position: relative;
}

.search-icon {
  position: absolute;
  z-index: 1;
  margin: 0.7rem 0 0 16.5rem;
}

.ham-bun {
  width: 40px;
  padding: 0 2rem 0 0;
}

main {
  display: flex;
  flex-direction: row;
}

.non-stick-comp {
  width: 92%;
  padding: 14% 0 0 7%;
}

#sec-1 {
  width: 100%;
  display: flex;
}

.img-4 {
  width: 30%;
  border-radius: 1.25rem;
  box-shadow: 5px 5px 20px -10px black;
}

textarea {
  margin: 0 0 0 5%;
  width: 70%;
  border-radius: 1.25rem;
  background-color: #e5d8ff;
  border: 0;
  box-shadow: inset 3px 5px 27px 0 rgba(0, 0, 0, 0.25);
  font-size: 1.2rem;
  padding: 2rem;
  color: #6f7373;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin: 5% 0 5% 0;
}

.cards div {
  min-height: 18vh;
  width: 20%;
  margin-top: 3rem;
  border-radius: 15px;
  font-size: 1.5rem;
  padding-left: 2rem;
  color: white;
  box-shadow: 0 9px 31px 0 rgba(0, 0, 0, 0.4);
}

.cards div:first-child {
  background-color: #929dff;
}

.cards div:nth-child(2) {
  background-color: #734cf2;
}

.cards div:nth-child(3) {
  background-color: #d288ff;
}

.cards div:last-child {
  background-color: black;
}

.stick-comp {
  width: 8%;
  display: flex;
  flex-direction: column;
}

.icons {
  position: sticky;
  top: 20vh;
  margin-top: 40vh;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.icons img {
  width: 50%;
}

.help {
  position: fixed;
  bottom: 0;
  right: 5vw;
}

.info-card {
  display: flex;
  margin: 10% 0 5% 0;
  border-radius: 15px;
  background-color: #483eff;
  padding: 2rem;
  gap: 1.5rem;
  margin-bottom: 5rem;
  min-height: 70vh;
}

.card-left {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: space-around;
}

.card-left div {
  padding: 2.2rem;
  border-radius: 15px;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.card-left div:first-child {
  background-color: #bce0f6;
  box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.39);
}

.card-left div:nth-child(2) {
  color: white;
  border: 5px solid white;
}

.card-left div:last-child {
  color: white;
  border: 5px solid white;
}

.card-right {
  background-color: white;
  width: 100%;
  border-radius: 15px;
  min-height: 63vh;
  padding: 5%;
}

.card-right h1 {
  color: #04285a;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 5px;
}

.card-right p {
  display: inline-block;
  padding: 1% 3% 1% 3%;
}

.table-c {
  font-weight: 100;
}

.next {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 400;
  margin-left: auto;
  margin-top: 8rem;
  cursor: pointer;
}
